.filter-container {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  padding-left: 8vw;
  padding-right: 9vw;
  margin-top: 2.4rem;
  margin-bottom: 2.6rem;
}

.state-order {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.upcoming {
  color: #ffff00;
  font-weight: 900;
}

.completed-past {
  color: white;
  font-weight: 300;
}

.search {
  margin-top: 3rem;
  border-bottom: #7b7b7b solid 1px;
  padding-bottom: 15px;
  width: 87%;
  margin-left: 7px;
}

.search-image {
  height: 17px;
  width: 17px;
  margin: 0 13px;
}

.search-input {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  color: white;
}

.search-input::placeholder {
  color: #7b7b7b;
}
